@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: black;
    color: white;
}

.active{
    color: rgb(227, 75, 113);
}

::-webkit-scrollbar {
    display: none;
}