@tailwind base;
@tailwind components;
@tailwind utilities;

/* body{
    background-color: rgb(255, 248, 252);
    color: black;
} */
body{
    background-color: black;
    color: white;
}
.active{
    color: #e34b71;
}

::-webkit-scrollbar {
    display: none;
}

.customBtn3 {
    /* height: 40px; */
    padding: 10px 25px;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
  }

  .btn3 {
    color: #e34b71;
    padding: 8px 16px;
    border: 1px solid #e34b71;
    box-shadow: 0 0 5px #e34b71, 0 0 5px inset;
  }
  .btn3:after {
    position: absolute;
    content: "";
    top: 5px;
    left: 6px;
    width: 90%;
    height: 70%;
    border: 1px solid #e34b71;
    box-shadow: 0 0 5px #e34b71 inset;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .btn3:hover:after {
    opacity: 1;
  }

  .skill{
    box-shadow: inset 0 0 14px #e34b71, 0 0 14px #e34b71;
  }

/* .border{
    border: 2px solid black;
} */